
/* .contenedorAbout {
  background-color: #343a40;
  width: 75px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid white;
}

.contenedorAbout:hover {
  background-color: #535f6b;
} */