.searchBar {
    display: flex;
    gap: 10px;
}

.input, .agregar{
    border-radius: 10px;
}

.agregar {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
}

.agregar:hover {
    background-color: rgba(0, 255, 0, 0.218);
    border: 2px solid rgba(0, 255, 0, 0);
}

